/* Becoming a Wizard begins here! */
body {
  color: white;
  text-align: center;
  background-image: url("5.jpg");
  background-size: cover;
}

h1 {
  font-size: 80px;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 300px;
  width: 75%;
  margin: 0 auto;
}
.container img {
  width: 200px;
  height: auto;
  margin: 0 20px;
}
.text-content {
    text-align: left;
}
